<div class="p-grid p-m-3 p-shadow-2 card">
  
  <div class="p-col-12 p-px-3 p-pt-3 text-title3 card-header" style="background-color: #D9D9D9;">
    <ngx-skeleton-loader 
      animation="progress" 
      [theme]="{width: '60%', height: '36px'}">
    </ngx-skeleton-loader>
  </div>

  <div class="p-col-12 p-mx-3 p-mt-2">
  
    <ngx-skeleton-loader 
      animation="progress" 
      [theme]="{width: '75%'}">
    </ngx-skeleton-loader>

    <ngx-skeleton-loader 
      animation="progress" 
      [theme]="{width: '50%'}">
    </ngx-skeleton-loader>

    <ngx-skeleton-loader 
      animation="progress" 
      [theme]="{width: '90%'}">
    </ngx-skeleton-loader>

  </div>

  <hr style="border:1px solid #D9D9D9; width:95%;">

  <div class="p-col-12 p-p-0">
    <div class="p-grid p-px-2 p-pt-2">
      <div class="p-col-6"></div>
      <div class="p-col-3">
        <ngx-skeleton-loader animation="progress" [theme]="{height: '40px'}"></ngx-skeleton-loader>
      </div>
      <div class="p-col-3">
        <ngx-skeleton-loader animation="progress" [theme]="{height: '40px'}"></ngx-skeleton-loader>
      </div>
    </div>
  </div>
</div>
